.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --primary: rgb(8, 117, 4);
    --secondary: #033803;

    --white: #f8f8f8;
    --dark: #141414;
    --gray: #eeeeee;
}

.passwordPage{
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1488330890490-c291ecf62571?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=180");
    height: 100vh;
}

.forgot-form{
    height: 45%;
    width: auto;
    margin: 1rem;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: none;
    border-radius: 20px;
}

.page__title{
    display: flex;
    margin-bottom: 0.8rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: white;
}

.email__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.forgot-container{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 5rem;
    margin-top: 70%;
}

.email__input{
    margin-bottom: 0.2rem;
    padding: 0.75rem 1rem;
    width: 15rem;
    background: var(--gray);
    border: none;
    border-radius: 8px;
    opacity: 0.8;
}

#email{
    margin-bottom: 0.7rem; 
}

.container-btn{
    display: block
}

.btn{
    display: block;
    width: 3cm;
    opacity: 1;
    background: var(--secondary);
    margin: 0 auto;
    padding: 0.7rem 0.75rem;
    font-size: 1rem;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: bold;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.back__btn{
    display: block;
    width: auto;
    opacity: 1;
    margin-top: 2px;
    background: transparent;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-weight: bold;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    text-decoration: none;
}

.back__btn:hover{
    text-decoration: underline;
    opacity: 0.6;
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 740px) 
  and (orientation: portrait) {

    .passwordPage{
        display: flex;
        align-content: center;
        justify-content: center;
        width: auto;
        background: #629044;
        height: 100vh;
    }

    .forgot-form{
        display: flex;
        width: auto;
        align-content: center;
        justify-content: center;
        transform: translateY(-35%);
    }

    .forgot-container{
        display: flex;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .btn{
        display: flex;
        width: 3cm;
        opacity: 1;
        background: var(--secondary);
        margin: 0 auto;
        padding: 0.7rem 0.75rem;
        font-size: 1rem;
        border-radius: 20px;
        color: white;
        border: none;
        font-weight: bold;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
    }

    .back__btn{
        display: flex;
        width: auto;
        opacity: 1;
        margin-top: 2px;
        background: transparent;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        color: var(--white);
        font-weight: bold;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        text-decoration: none;
        transform: translateX(15%);
    }

    .email__form{
        display: flex;
    }

    .send__btn{
        transform: translateX(-45%);
        text-align: center;
        padding-left: 2rem;
    }

    .email__input{
        display: flex;
        margin-bottom: 0.2rem;
        padding: 0.75rem 1rem;
        width: 15rem;
        background: var(--gray);
        border: none;
        border-radius: 8px;
        opacity: 0.8;
        transform: translateX(-20%);
    }

    .page__title{
        display: flex;
        transform: translateX(-10%);
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
        color: white;
    }
    
}